In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [2]:
print('Pandas : %s'%(pd.__version__))
print('Numpy : %s'%(np.__version__))
print('Scikit-Learn : %s'%(sklearn.__version__))
!python --version

Pandas : 1.1.3
Numpy : 1.19.2
Scikit-Learn : 0.23.2
Python 3.8.5

In [3]:
df_1=pd.read_csv('project2/Card.csv')
df_2=pd.read_csv('project2/Test.csv')

In [4]:
df_2=pd.read_csv('project2/Test.csv')

In [5]:
df=pd.concat([df_1,df_2])
df.shape

(26048114, 12)

In [6]:
df=df.fillna('세종시')

In [7]:
df.isnull().sum()

REG_YYMM        0
CARD_SIDO_NM    0
CARD_CCG_NM     0
STD_CLSS_NM     0
HOM_SIDO_NM     0
HOM_CCG_NM      0
AGE             0
SEX_CTGO_CD     0
FLC             0
CSTMR_CNT       0
AMT             0
CNT             0
dtype: int64

In [8]:
df.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3

In [9]:
del df['CARD_CCG_NM']

In [10]:
del df['HOM_CCG_NM']

In [11]:
df.head()

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,건강보조식품 소매업,강원,20s,1,1,4,311200,4
1,201901,강원,건강보조식품 소매업,강원,30s,1,2,7,1374500,8
2,201901,강원,건강보조식품 소매업,강원,30s,2,2,6,818700,6
3,201901,강원,건강보조식품 소매업,강원,40s,1,3,4,1717000,5
4,201901,강원,건강보조식품 소매업,강원,40s,1,4,3,1047300,3

In [12]:
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [13]:
df['year'] = df['REG_YYMM'].apply(lambda x: grap_year(x))
df['month'] = df['REG_YYMM'].apply(lambda x: grap_month(x))
df = df.drop(['REG_YYMM'], axis=1)

In [14]:
df.head()

,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT,year,month
0,강원,건강보조식품 소매업,강원,20s,1,1,4,311200,4,2019,1
1,강원,건강보조식품 소매업,강원,30s,1,2,7,1374500,8,2019,1
2,강원,건강보조식품 소매업,강원,30s,2,2,6,818700,6,2019,1
3,강원,건강보조식품 소매업,강원,40s,1,3,4,1717000,5,2019,1
4,강원,건강보조식품 소매업,강원,40s,1,4,3,1047300,3,2019,1

In [15]:
dtypes = df.dtypes
encoders = {}
for column in df.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(df[column])
        encoders[column] = encoder
        
df_num = df.copy()        
for column in encoders.keys():
    encoder = encoders[column]
    df_num[column] = encoder.transform(df[column])

In [16]:
df_num

,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT,year,month
0,0,0,0,1,1,1,4,311200,4,2019,1
1,0,0,0,2,1,2,7,1374500,8,2019,1
2,0,0,0,2,2,2,6,818700,6,2019,1
3,0,0,0,3,1,3,4,1717000,5,2019,1
4,0,0,0,3,1,4,3,1047300,3,2019,1
...,...,...,...,...,...,...,...,...,...,...,...
1350317,16,40,16,1,1,1,5,77000,5,2020,4
1350318,16,40,16,2,1,2,6,92000,6,2020,4
1350319,16,40,16,3,2,3,5,193000,5,2020,4
1350320,16,40,16,4,1,4,5,86000,7,2020,4
1350321,16,40,16,5,2,5,3,227000,4,2020,4

In [17]:
df_num=df_num.reindex(columns=['CARD_SIDO_NM','STD_CLSS_NM','HOM_SIDO_NM','SEX_CTGO_CD',
                        'FLC','CSTMR_CNT','CNT','year','month','AMT'])

In [18]:
df_num.head()

,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,SEX_CTGO_CD,FLC,year,month,AMT
0,0,0,0,1,1,2019,1,311200
1,0,0,0,1,2,2019,1,1374500
2,0,0,0,2,2,2019,1,818700
3,0,0,0,1,3,2019,1,1717000
4,0,0,0,1,4,2019,1,1047300

In [19]:
X=df_num.iloc[:,:-1]
y=df_num.iloc[:,-1]

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [21]:
import statsmodels.api as sm
model = sm.OLS(y_train, sm.add_constant(X_train)).fit()

In [22]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    AMT   R-squared:                       0.759
Model:                            OLS   Adj. R-squared:                  0.759
Method:                 Least Squares   F-statistic:                 7.299e+06
Date:                Wed, 10 Mar 2021   Prob (F-statistic):               0.00
Time:                        19:07:29   Log-Likelihood:            -3.6201e+08
No. Observations:            20838491   AIC:                         7.240e+08
Df Residuals:                20838481   BIC:                         7.240e+08
Df Model:                           9
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          -1.6e+08   1.04e+07    -15.313      0.000    -1.8e+08   -1.39e+08
CARD_SIDO_NM  1147.7889    410.907      2.793      0.005     342.426    1953.151
STD_CLSS_NM  -2.593e+04    168.192   -154.189      0.000   -2.63e+04   -2.56e+04
HOM_SIDO_NM   8933.8132    426.600     20.942      0.000    8097.692    9769.935
SEX_CTGO_CD  -4.947e+05   3780.727   -130.844      0.000   -5.02e+05   -4.87e+05
FLC            4.09e+05   1352.717    302.326      0.000    4.06e+05    4.12e+05
CSTMR_CNT     5.116e+04     14.227   3595.918      0.000    5.11e+04    5.12e+04
CNT          -3603.3009      5.230   -688.987      0.000   -3613.551   -3593.051
year          7.915e+04   5172.279     15.303      0.000     6.9e+04    8.93e+04
month         1095.0925    606.400      1.806      0.071     -93.429    2283.614
==============================================================================
Omnibus:                 39513088.891   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     860159002538.242
Skew:                          13.633   Prob(JB):                         0.00
Kurtosis:                     997.944   Cond. No.                     1.14e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.14e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [22]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    AMT   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     5560.
Date:                Wed, 10 Mar 2021   Prob (F-statistic):               0.00
Time:                        19:21:15   Log-Likelihood:            -3.7683e+08
No. Observations:            20838491   AIC:                         7.537e+08
Df Residuals:                20838483   BIC:                         7.537e+08
Df Model:                           7
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -3.591e+08   2.13e+07    -16.887      0.000   -4.01e+08   -3.17e+08
CARD_SIDO_NM  -3.47e+04    836.472    -41.480      0.000   -3.63e+04   -3.31e+04
STD_CLSS_NM     1.3e+04    342.246     37.997      0.000    1.23e+04    1.37e+04
HOM_SIDO_NM   1.343e+04    868.481     15.468      0.000    1.17e+04    1.51e+04
SEX_CTGO_CD  -1.381e+05   7694.790    -17.949      0.000   -1.53e+05   -1.23e+05
FLC           5.192e+05   2753.194    188.567      0.000    5.14e+05    5.25e+05
year          1.783e+05   1.05e+04     16.936      0.000    1.58e+05    1.99e+05
month         5189.5302   1234.513      4.204      0.000    2769.929    7609.131
==============================================================================
Omnibus:                 51251911.405   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    1108852793747.126
Skew:                          26.247   Prob(JB):                         0.00
Kurtosis:                    1131.861   Cond. No.                     1.14e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.14e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""